<div class="d-flex justify-content-between">
    <h4>Register User</h4>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div style="overflow : auto;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">username</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="username" #UserName="ngModel"
                [(ngModel)]="service.formData2.username">
        </div>
        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">email</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="email" #Email="ngModel"
                [(ngModel)]="service.formData2.email">
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">password</span>
            </div>
            <input required minlength="0" type="password" class="form-control" name="password" #Password="ngModel"
                [(ngModel)]="service.formData2.password">
        </div>
        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">role</span>
            </div>
            <select class="form-control" name="role" #Role="ngModel"
                [(ngModel)]="service.formData2.role">
                <option value="both">Buyer and Seller</option>
                <option value="seller">Seller</option>
                <option value="buyer">Buyer</option>
                <!-- <select name="cars" id="cars"
                  </select> -->
            </select>
        </div>
        <button class="mt-4" mat-raised-button color="primary" type="submit">Register</button>
    </form>

</div>